:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgd-color: #ffffff;
  --secondary-bgd-color: #2f303a;
  --third-bgd-color: #f5f4fa;
}

/* --secondary-font-family: "Raleway", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bgd-color);
}

/* Utilits */

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.list .active {
  color: var(--accent-color);
}

.page-header {
  /* background-color: wheat; */
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.main-menu {
  display: flex;
  align-items: center;
}

/* WebStudio Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}

/* Website navigation */

.site-nav {
  display: flex;
  margin-left: 93px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* Website cotacts */

.site-nav-contacts {
  display: flex;
  margin-left: auto;
}

.site-nav-contacts .contacts-display:not(:last-child) {
  margin-right: 50px;
}

.site-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* <!-- Hero section -- >  */

.hero {
  background-color: var(--secondary-bgd-color);
  text-align: center;
  padding: 200px 200px;
  margin-bottom: 94px;
}

.hero-title {
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
}

/* Strong sides section */

.strong-sides {
  margin-bottom: 94px;
}

.subsection-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* What we do section */

.whatwedo {
  margin-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Our Team section */

.team {
  background-color: #f5f4fa;
}

.team-description {
  /* here I will add positioning */
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-professions {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background-color: var(--secondary-bgd-color);
}

.logo-studio-footer {
  color: var(--secondary-text-color);
}

.addess-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contacts-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio CSS */

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--third-bgd-color);
  border: none;
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
